.button {
  border-radius: 4px;
  padding: 6px 22px;

  color: $primary-white-color;
  background-color: $accent-color;
  border: 1px solid transparent;
  box-shadow: $box-shadow-button;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;

  transition: background-color $animation-duration $timing-function;
  &.primary {
    padding: 10px 32px;
    box-shadow: $box-shadow-button-primary;
    color: $primary-white-color;
    background-color: $accent-color;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
  }
  &.secondary {
    color: $title-text-color;
    background-color: $secondary-background-color;
    box-shadow: none;
  }
  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: $box-shadow-button;
  }
}
