.section {
  padding-top: 94px;
  padding-bottom: 94px;
  &:nth-child(4) {
    background-color: $secondary-background-color;
  }
  &.no-padding {
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.section-title {
  &.centered {
    text-align: center;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.portfolio-section {
  padding-top: 175px;
}
