.feature-icons {
  background-color: $secondary-background-color;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 70px;
  height: 70px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  .item {
    width: 270px;
  }
  .title {
    margin-bottom: 10px;

    color: $title-text-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  }
}
